



<div class="big-wrapper">
<div class="searchContainer">





<h1 id = "searchHeadline">Search cafes by name and location</h1>

<input type="text" placeholder = "search name here" ng-model="searchTerm">
<input type="text" placeholder="search zip here" ng-model="searchZip"/>
<button ng-click="getSomething(searchZip, searchTerm)">Search</button>

<div ng-repeat = "cafe in cafes | limitTo: 3" class="resultsDiv">
<!-- THIS SECTION IS FOR PLACING SEARCH RESULTS -->
<br />
<h2>{{cafe.name}}</h2>
<br />
Rating: {{ cafe.rating }} &#x2605;
<br />
Price: {{cafe.price}} <br />
Address: {{cafe.location.address1}} {{cafe.location.address2}}<br />
{{ cafe.location.city}}, {{cafe.location.state}}<br />

<!--  -->
Phone: {{ cafe.phone }}
<br />

<img ng-src="{{cafe.image_url}}" style="width: 500px"/>
</div>
<!-- end of THIS SECTION IS FOR PLACING SEARCH RESULTS -->
</div> <!-- search container end -->
</div>

</div>

</div>
